@import '~react-md/src/scss/react-md';

$md-primary-color: $md-teal-500;
$md-secondary-color: $md-purple-a-400;

@include react-md-everything;

body {
    margin: 0;
}

.app-content {
    width: 100%;
    display: flex;
    justify-content: center;
}